@CHARSET "UTF-8";

html {
    overflow: -moz-scrollbars-vertical;
}

body {
    font-family: sans-serif, Verdana, Arial, Helvetica;
    padding: 0.01px;
    margin: 5px auto;
    text-align: center;
}

#total {
    width: 1700px;
    text-align: left;
    margin: 0 0 0 110px; 
}

#topo {
    text-align: left;
    height: 80px;
    line-height: 60px;
}

#conteudo {
    margin-top: 5px;
    width: 980px;
    float: left;
    padding: 5px;
}

/*RODAPE*/

#rodape {
    background-color: #F0F0F0;
    height: 80px;
    width: 100%;
    float: left;
    position: relativa;
    bottom: 0;
    -webkit-box-shadow: inset 0 0 10px 1px #C4C4C4;
    box-shadow: inset 0 0 10px 1px #C4C4C4;
    margin: 0 0 0 0;
}

    #rodape p {
        text-align: left;
        margin: 0 0 0 210px;
        font-size: 10pt;
        color: #00667F;
        font-family: Tahoma, Geneva, sans-serif;
    }

    .radio{
        float: left;
    }